<table class="table table-hover table-responsive">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">الاسم</th>
        <th scope="col">الكمية</th>
    </tr>
    </thead>
    <tbody>
    {% for product in field.value %}
    <tr>
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>