{% extends 'base.html.twig' %}

{% block title %}New Slider{% endblock %}

{% block body %}
    <h1>Create new Slider</h1>

    {{ include('admin/slider/_form.html.twig') }}

    <a href="{{ path('admin_slider_index') }}">back to list</a>
{% endblock %}
